<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>Admin</display-name>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <description/>
            <url-pattern>/adminSecure/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Admin</role-name>
            <principal-name>admin</principal-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>User1</display-name>
        <web-resource-collection>
            <web-resource-name>User1</web-resource-name>
            <description/>
            <url-pattern>/userSecure/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <principal-name>Admin</principal-name>
            <principal-name>Admin</principal-name>
            <role-name>User1</role-name>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    <security-role>
        <description/>
        <role-name>Admin</role-name>
        <principal-name>Admin</principal-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>User1</role-name>
        <principal-name>Admin</principal-name>
        <principal-name>User1</principal-name>
    </security-role>
</web-app>
